.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 30px;
}

.pagination a {
    padding: 8px 14px;
    border: 1px solid #ddd;
    text-decoration: none;
}

.pagination a.active-page {
    font-weight: 700;
    background: #222;
    color: #fff;
}